div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

$borderColor: 1px solid rgba(128, 128, 128, 0.47);

.main-background {
  display: grid;
  grid-template-columns: 5vw 95vw;
  grid-template-rows: 1fr;
  // height: 150vh;
  height: auto;
  width: auto;
  background: rgb(225, 225, 225);
}

.main-sidebar {
  background: rgb(14, 14, 146);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 8fr;
  padding-top: 25%;
  width: 100%;
  // transform: translateX(-50%);

  color: white;
  font-size: 1.5vw;
  place-items: center;
  text-align: center;
  height: 100%;
  transition: all 1s;
  z-index: 5;

  span {
    opacity: 0;
    color: white;
    font-size: 0.1px;
    transition: all 1s;
  }
}

.main-sidebar:hover {
  width: 200%;
  z-index: 5;

  div {
    padding-left: 7%;
    margin-right: auto;
  }
  span {
    opacity: 1;
    font-size: 1.5vw;
  }
}

.main-content-header {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  background: white;
  padding: 0.5%;
}

.main-content-header-left {
  display: grid;
  place-items: center;
  grid-template-columns: 9fr 1fr;
  width: 100%;
  height: 100%;
  margin-left: 5%;

  input {
    height: 100%;
    width: 100%;
    border-radius: 5px 0 0 5px;
    border: $borderColor;
  }

  input:focus {
    margin-left: 5%;
    transition: all 1s;
    width: 450px;
    transform-origin: left;
  }

  button {
    height: 100%;
    width: 150%;
    border-radius: 0 5px 5px 0;
    border: $borderColor;
    background-color: rgb(97, 97, 97);
    color: white;
  }
}

.main-content-header-rigth {
  color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  place-items: center;
  height: 100%;
}

.title {
  margin: 2% 0 1% 2%;
}

.main-content-dashBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@mixin dashboardItem($dashboardItemColor) {
  border-left: 5px solid $dashboardItemColor;
  background: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 5%;
}

.main-content-dashBoard-item:nth-child(1) {
  @include dashboardItem(yellow);
}

.main-content-dashBoard-item:nth-child(2) {
  @include dashboardItem(green);
}

.main-content-dashBoard-item:nth-child(3) {
  @include dashboardItem(purple);
}

.main-content-dashBoard-item:nth-child(4) {
  @include dashboardItem(brown);
}

.main-content-dashBoard-item {
  p {
    margin-left: 10%;
  }
  p:nth-child(2) {
    font-weight: 600;
  }
  i {
    display: grid;
    place-items: center;
    font-size: 2vw;
  }
}

.main-content-chart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2.5%;
}

.main-content-chart-overview {
  background-color: white;
  border-radius: 5px;
  margin-left: 2%;
  border: $borderColor;
  display: grid;
  grid-template-rows: 1fr 9fr;

  div {
    border-bottom: $borderColor;
    background: rgb(212, 212, 212);
    font-weight: 600;
  }

  p {
    margin-left: 2%;
  }
}

.main-content-chart-items {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background: white;
  margin-right: 4%;
  border-radius: 5px;
  height: 50%;
  border: $borderColor;
}

.main-content-chart-item:nth-child(1) {
  background: rgb(212, 212, 212);
  font-weight: 600;
}

.main-content-chart-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  place-items: center;
  border-bottom: $borderColor;
}

.main-content-chart-item span:nth-child(1) {
  margin: 0 auto 0 5%;
}

.main-content-chart-item span:nth-child(2) {
  margin: 0 20% 0 auto;
  background: rgb(22, 109, 231);
  width: 25%;
  height: 50%;
  border-radius: 10px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 768px) {
  .main-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3% 3% 3% 3%;
    padding-top: 15%;
  }
  .main-content-dashBoard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .main-content-dashBoard-item {
    margin: 1% !important;
    i {
      font-size: 250%;
    }
  }

  .main-content-chart {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .main-content-header {
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
  }
}
