$메인칼라: #2a4cb2;
$서브칼라: red;
$기본사이즈: 16px;

// sass에서 사칙연산 가능
// 단, 같은 단위끼리 할것 (% 끼리 등)
.backgorund {
  background-color: $메인칼라;
  font-size: $기본사이즈 - 2px;
}

// nesting 문법
.main-bg h4 {
  font-size: 16px;
}
.main-bg button {
  color: red;
}

.main-bg {
  width: 100px;
  h4 {
    font-size: 16px;

    // nesting 문법 중첩은 가능하나 2개 이상 안하길 권장
    span {
      height: 50px;
    }
  }
  button {
    color: red;
  }
}

// @extend 문법 (class 전체를 복사해주는 문법)
// %임시클래스 특징 : 단독으로 컴파일 되지 않음.
%btn {
  width: 100px;
  height: 100px;
  padding: 20px;
}

.btn-green {
  width: 100px;
  height: 100px;
  padding: 20px;
  color: green;
}

.btn-green {
  @extend %btn;
  color: green;
}

.btn-red {
  @extend %btn;
  color: red;
}
